.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  text-align: center;
}

button {
  font-size: 18px;
  max-width: 160px;
  min-width: 40;
}

.group {
  margin-top: 32px;
  margin-bottom: 8px;
}
